<div class="container d-flex mb-4 text-bg-dark hero">
  <div class="col-md-5 px-0 my-auto hero-content">
    <h1>Your sweet spot for iPods.</h1>
    <p class="lead my-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, quisquam perferendis!</p>
    <%= link_to "Start selling", new_ipod_path, class:'btn btn-dark mt-3'  %>
  </div>
</div>

<div class="container">
<div class="section content" id="index">
  <div class="d-flex my-5 justify-content-between">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category), class:'btn btn-outline-dark'  %>
    <% end %>
  </div>
    <div class="d-flex justify-content-between mb-4">
      <div class="row">
        <div class="col-8">
          <span class="section-highline">Our shop</span>
          <h3 class="section-title mb-2">Here are our best seller from the stock</h3>
        </div>
      </div>
      <div class="row g-2 mb-3 align-items-end">
          <div class="col-auto">
            <%= form_tag ipods_path(anchor: "index"), method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find an iPod"
            %>
          </div>
          <div class="col-auto">
            <%= submit_tag "Search", class: "btn btn-dark" %>
            <% end %>
          </div>
      </div>
    </div>
  <div class="row mb-3">
    <% @ipods.each do |ipod| %>
      <div class="col-md-3">
        <div class="card">
          <% if ipod.photo.attached? %>
            <div class="card-img-top-wrapper">
              <span class="card-text-model"><%= ipod.category.name %></span>
              <%= cl_image_tag ipod.photo.key, class:'card-img-top' %>
            </div>
          <% else %>
            <div class="card-img-top-wrapper">
              <span class="card-text-model"><%= ipod.category.name %></span>
              <%= image_tag "#{ipod.category.name}.jpg", class:'card-img-top' %>
            </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= ipod.name %></h5>
            <span class="card-text"><%= ipod.description %></span>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <span class="price"><%= ipod.price %>€</span>
              <div class="color d-inline-flex">
                <span class="card-text me-2">color:</span>
                <% if ipod.color == 'White' %>
                  <div class="color-white"></div>
                <% elsif ipod.color == 'Grey' %>
                  <div class="color-grey"></div>
                <% elsif ipod.color == 'Black' %>
                  <div class="color-black"></div>
                <% elsif ipod.color == 'Blue' %>
                  <div class="color-blue"></div>
                <% elsif ipod.color == 'Green' %>
                  <div class="color-green"></div>
                <% elsif ipod.color == 'Pink' %>
                  <div class="color-pink"></div>
                <% end %>
              </div>
            </div>
            <div class="action-row">
              <%= link_to ipod_path(ipod), class:'btn btn-dark me-2' do %>
                <%= image_tag 'icon-eye.svg', alt: 'show icon', class: 'action-icon' %>
              <% end %>
              <%= link_to new_ipod_purchase_path(ipod), class:'btn btn-dark' do %>
                <%= image_tag 'icon-shop.svg', alt: 'buy icon', class: 'action-icon' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</section>
<section class="container d-flex mb-4 text-bg-dark hero-content-sm">
  <div class="col-md-4 px-0 hero-content">
    <h1>Get inspired from our Instagram</h1>
    <p class="lead my-3">If you use the hashtag #applepie on Instagram, we’ll spotlight you.</p>
    <span class="call-to-action">Check it out</span>
  </div>
</section>
<section class="container reviews">
  <div class="row">
    <div class="col">
      <div class="reviews-image"></div>
    </div>
    <div class="col">
      <div class="reviews-carousel">
        <span class="flag mb-3">Reviews</span>
        <span class="trusted-content mb-2">Shop with confidance by reading customer
              reviews given by individuals who have used
              applepie. Excelent quality and streamlined
              service are both offered here.
        </span>
        <%= image_tag 'reviews-star.svg', alt: 'rating stars', class: 'rating-stars mb-3' %>
        <span class="counter mb-3">2.479 reviews</span>
        <h3 class="review-content">Great iPod, however the headphone is giving me problems, I hope it's nothing but if it continues I'll get it checked</h3>
        <span class="author">Michael P.</span>
        <span class="locale">Lake Forest, CA</span>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
    <%= image_tag 'applepie-logotype.svg', alt: 'Applepie logotype', class: 'logotype' %>
    <span class="copyright">Copyright © 2022 applepie All rights Reserved.</span>
</footer>
