<%= link_to "Add new ipod", new_ipod_path  %>

<br>

<% @ipods.each do |ipod| %>
  <% if ipod.photo.attached? %>
    <%= cl_image_tag ipod.photo.key, height: 500, width: 400, crop: :fill %>
  <% else %>
    <%= image_tag "#{ipod.model}.png" %>
  <% end %>
  <h3><%= ipod.name %></h3>
  <p><%= ipod.description %></p>
  <p><%= ipod.model %></p>
  <%= link_to "Details", ipod_path(ipod)  %>
<% end %>
