<div class="container">
  <div class="row my-5">
    <div class="col-6">
      <%= image_tag "new-page.jpg", class: "card-img" %>
    </div>
    <div class="col-5 ps-5 mt-2">
      <h1>List a new iPod</h1>
      <p>This iPod will be listed on the platform.</p>
      <%= simple_form_for @ipod do |f| %>
        <div class="row g-3 ">
          <div class="col-12">
            <%= f.input :name %>
          </div>
          <div class="col-12 mt-0">
            <%= f.input :description %>
          </div>
          <div class="col-6 mt-0">
            <%= f.association :category %>  <%# Choose between pre-defined models %>
          </div>
          <div class="col-6 mt-0">
            <%= f.input :color, collection: [ "Grey", "Black", "White", "Blue", "Green", "Pink" ] %>  <%# Choose between pre-defined colors %>
          </div>
          <div class="col-4 mt-0">
            <%= f.input :capacity, collection: [ 16, 32, 64, 128, 256 ] %>  <%# Choose between pre-defined capacities %>
          </div>
          <div class="col-4 mt-0">
            <%= f.input :state, collection: [ "Fair", "Good", "Excellent" ] %> <%# Choose between pre-defined states %>
          </div>
          <div class="col-4 mt-0">
            <%= f.input :price %>
          </div>
          <div class="col-12 mt-0">
            <%= f.input :photo, as: :file %>
          </div>
          <div class="d-grid">
            <%= f.submit "Create", class: "btn btn-dark py-2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
