<div class="show-page">
  <% if @ipod.photo.attached? %>
    <%= cl_image_tag @ipod.photo.key, class:'image' %>
  <% else %>
    <%= image_tag "#{@ipod.category.name}.jpg", class:'image'  %>
  <% end %>

  <div class="content">
    <h1><%= @ipod.name %></h1>
    <p><%= @ipod.description %></p>

    <p class="title">Model</p>
    <p><%= @ipod.category.name %></p>
    <p class="title">State</p>
    <p><%= @ipod.state %></p>
    <p class="title">Color</p>
    <p><%= @ipod.color %></p>
    <p class="title">Capacity</p>
    <p><%= @ipod.capacity %></p>
    <p class="title">Price</p>
    <p><%= @ipod.price %></p>
  </div>
</div>

<%= link_to "Back to index", ipods_path, class: "btn btn-outlined-dark"  %>
<%= link_to "Edit", edit_ipod_path, class: "btn btn-dark"  %>
