<div class="hero-profile-banner"></div>
<div class="profile-data container">
  <div class="d-flex flex-column">
    <%= image_tag 'user-profile-icon.svg', alt: 'show icon', class: 'profile-icon' %>
    <span class="my-account">my account</span>
  </div>
  <div class="profile-data-content">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "profile-page-avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <p class="user-name"><%= current_user.first_name %> <%= current_user.last_name %></p>
    <span class="user-email"><%= current_user.email %></span>
  </div>
</div>

<div class="container-profile">
  <div class="purchases">
    <div class="tag">
      <%= image_tag 'icon-shop.svg', alt: 'show icon', class: 'shop-icon' %>
      <span>My purchases</span>
    </div>
  </div>

  <div class="selling">
  </div>
</div>

<% current_user.purchases.each do |purchase| %>
  <p>Status: <%= purchase.state %></p>
  <p>Delivery address: <%= purchase.delivery_address %></p>
  <p>Phone number: <%= purchase.phone_number %></p>
  <p>Message: <%= purchase.message %></p>
  <p>------------------</p>
<% end %>
